:root {
  --color-green: #B5DDA8;
  --color-green-hover: #A1C594;
  --color-green-btn: #588349;
  --color-green-btn-hover: #5F7757;
  --color-blue-btn: #6E95AB;
  --color-blur-btn-hover: #678698;
  --color-blue-hover: #678698;
  --color-text-light: #414141;
  --color-green-btn-white-hover: #DEF8D4;
  --color-green-background: #E6EAE5;
  --color-grey-background: #73727A;
  --color-grey-border: #BFBFBF;
  --color-grey-border-form: #D1CACA;
  --color-red-border-form-hover: #AD8686;
  --color-red-border-form-check: #716262;
  
}

/* common  */

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

.page {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.h1, h2 {
  padding: 0;
  margin: 0;
}



.container {
  max-width: 1195px;
  /* box-sizing: content-box; */
  margin: 0 auto;
}



/* button */

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 232px;
  font-size: 16px;
  color: white;
  margin-top: 48px;
  padding: 13px 13px;
  background: var(--color-green-btn);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}
.button:hover {
  background-color: var(--color-green-btn-hover);
}

.button-cover {
  height: 52px;
  width: 218px;
  color: black;
  margin-bottom: 315px;
  font-weight: 600;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-green);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.25s ease;
}
.button-cover:hover {
  background-color: var(--color-green-hover);
}

.button-blue {
  width: 278px;
  background-color: var(--color-blue-btn);
}
.button-blue:hover {
  background-color: var(--color-blur-btn-hover);
}

.button-white {
  width: 304px;
  height: 55px;
  background-color: white;
  border: 2px solid var(--color-green-btn);
  color: var(--color-green-btn);
}
.button-white:hover {
  background-color: var(--color-green-btn-white-hover);
}

.button-white__travel {
  margin-bottom: 89px;
  margin-left: 425px;
}

.button-blue-charity {
  margin-top: 140px;
  margin-bottom: 348px;
}


.text-title {
  font-size: 72px;
  letter-spacing: 0.05em;


}

.section-cover__main {
  margin-top: 209px;
  margin-bottom: 113px;
  font-size: 72px;
  letter-spacing: 0.07em;
}

.page-section__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 129%;
  font-size: 40px;
  letter-spacing: 0.04em;
  padding: 0;
  margin: 0;
}
.page-section__title p {
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 113px;
  line-height: 159%;
  letter-spacing: 0.07em;
}


/* --------------------- page-header ----------------------- */

.page-header__background {
  background-image: url('../images/cover.jpg');
  background-position: center right;
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 987px;
  margin: 0 auto;
}

.page-header__background-charity {
  background-image: url('../images/cover.jpg');
  height: 987px;
}

.page-header__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 46px;
  max-width: 1440px;
  box-sizing: content-box;
  margin: 0 auto;
}
.page-header__flex img {
  margin-right: 49px;
}
.mainmenu {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 16px;
  color:white;
}
.mainmenu__item {
  margin-right: 49px;
}
.mainmenu__item:last-child {
  margin-right: 0;
}

.mainmenu__item a {
  color: var(--color-white);
  line-height: 129%;
  letter-spacing: 0.05em;
  text-decoration: none;
  transition: color 0.2s ease;
}
.mainmenu__item a:hover {
  color: var(--color-blue-hover);
}

.social-list {
  display: flex;
  list-style-type: none;
  padding-left: 26px;
}
.social-list__item {
  margin-right: 15px;
}
.social-list__item:last-child {
  margin-right: 0;
}

.social-list__item svg {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.social-list__item svg :hover {
  background-color: var(--color-blue-hover) ;
  fill: var(--color-blue-hover);
  stroke: var(--color-blue-hover);
  stroke-opacity: 0;
  transition: all 0.2s linear;
}

.page-section__title-main {
  color: white;
  margin-top: 209px;
}


.sing {
  display: none;
}

.page-header__menu-toggle {
  display: none;
  
}

.hamburger-inner, 
.hamburger-inner::before, 
.hamburger-inner::after {
  background-color: white;
  border-radius: 0;
  height: 3px;
}

.hamburger.is-active .hamburger-inner, 
.hamburger.is-active .hamburger-inner::before, 
.hamburger.is-active .hamburger-inner::after {
  background-color: white;
}



/* ----------------------------------------- section-text -------------------- */

.section-text {
  text-align: center;
  font-size: 24px;
  line-height: 130%;
  color: var(--color-text-light);
  letter-spacing: 0.07em;
  margin-bottom: 187px;       
}

.section-text__main {
  margin-top: 105px;
  margin-bottom: 131px;
}

.section-text__main p {
  margin: 0;
}

.section-text__main h2 {
  margin-top: 187px; 
  font-size: 72px;
  text-align: left;
  line-height: 100%;
  color: #000;
  letter-spacing: 0.05em;
  font-weight: 900;
}


/* --------------- section-blockquote ------------- */

.blockquote__background {
  display: none;
}

.section-slider__mobile {
  display: none;
}

.section-block__mobile {
  display: none;
}

/* -------------- page-section__item ------------- */

.section-block {
  display: flex;
  margin-bottom: 187px;
}

.fz18 {
  font-size: 18px;
}

.flex-end {
  justify-content: flex-end;
}

.section-block__text--right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  font-size: 21px;
  width: 597px;
  padding-left: 143px;
  padding-right: 0;
  min-width: 50%;
  flex-shrink: 0;
  line-height: 130%;
  color: #2E2B2B;
}

.section-block__text--left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  font-size: 21px;
  width: 597px;
  padding-right: 143px;
  padding-left: 0;
  min-width: 50%;
  flex-shrink: 0;
  line-height: 130%;
  color: #2E2B2B;
}

.section-block__text-title {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-weight: 600;
  line-height: 129%;
  letter-spacing: 0.04em;
  padding: 0;
  margin: 0;
  font-size: 36px;
}

.section-block__text--right p {
  line-height: 130%;
  margin: 15px 0 0;
  color: #2E2B2B;
}

.section-block__text--left p {
  line-height: 130%;
  margin: 15px 0 0;
  color: #2E2B2B;
}

.section-charity__title {
  font-size: 72px;
  color: #000;
  letter-spacing: 0.05em;
  padding-bottom: 59px;
  padding-top: 211px;
  font-weight: 900;
}

.section-command__title {     /*   не умешается в 2 строки */
  font-size: 60px;
  color: #000;
  margin-bottom: 50px;
  letter-spacing: 0.05em;
  font-weight: 900;
}

/* .section-block__travel img {
  
} */
/* --------------------------------- section-answer ------------------------- */

.section-answer {
  padding-top: 161px;
  padding-bottom: 200px;
  background-color: var(--color-green-background);
  text-align: center;
}

.page-section__title-answer {
  margin-bottom: 87px;
}

.section-answer__list {
  list-style-type: none;        
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 136px;
  row-gap: 126px;
}

.section-answer__list li {
  width: 230px;
  text-align: center;
}

.section-answer__list li p{
  margin-top: 48px;
}


/* ---------------------------------------------- footer ----------------------------- */

.page-footer {
  background-color: var(--color-grey-background);
  font-size: 14px;
  list-style-type: none;
}

.page-footer__flex {
  display: flex;
  height: 87px;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  list-style-type: none;
  color: white;
  margin: 0 auto;
}
.page-footer__contact-list {
  display: flex;
  width: 333px;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  color: white;
}

.page-footer__contact-list p {
  text-align: center;
  margin: 0;
}

.page-footer__flex a {
  text-decoration: none;
  color: white;
}

.page-footer__flex a:hover {
  color: var(--color-blue-hover);
}


.section-news__mobile {
  display: none;
}

.section-social__mobile {
  display: none;
}

.page-footer__contact-mobile {
  display: none;
}
.page-footer__copyright-mobile {
  display: none;
}




/* -------------------------- paybooking ------------------- */

.page-paybooking {

  width: 1237px;
  margin: auto;
}

.page-paybooking__flex {
  display: flex;
  justify-content: space-between;
}

.page-paybooking__title {
  font-weight: 900;
  margin-top: 99px;
  margin-bottom: 136px;
  text-align: center;
}

.paybooking-block__left-dateTravel {
  display: flex;
  width: 832px;
  height: 371px;
  margin-bottom: 20px;
  border: 1px solid var(--color-grey-border);
}

.paybooking-block__left-date {
  position: relative;
  min-width: 353px;
  padding-left: 18px;
  padding-top: 37px;
  margin-bottom: 20px;
  
}

.paybooking-block__left-text {
  padding-left: 74px;
  padding-top: 37px;
}

.paybooking-block__left-text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.07em;

}

.paybooking-block__left-text span {
  font-weight: 400;
}

.paybooking-block__left-date p {
  font-size: 18px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.07em;
}

.paybooking-block__left-date p:first-child {
  color: var(--color-green-btn);
}

.paybooking-block__left-date div {
  
  position: absolute;
  height: 270px;
  width: 1px;
  border-right: 1px solid var(--color-grey-border);
  left: 353px;
  top: 42px;
  
}

.paybooking-block__left-detail {
  width: 832px;
  height: 371px;
  margin-bottom: 20px;
  padding-top: 37px;
  padding-left: 18px;
  border: 1px solid var(--color-grey-border);
}

.line {
  /* position: absolute; */
  height: 1px;
  width: 712px;
  border-bottom: 1px solid var(--color-grey-border);
}

.left-number__flex {
  display: flex;
  height: 19px;
  margin-bottom: 17px;

}

.left-number__text p {
  color: var(--color-green-btn);
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.07em;

  
}

.left-number__flex p{
  font-size: 18px;
  font-weight: 300;
  line-height: 130%;
  letter-spacing: 0.07em;
  margin: 0;
  color: #000;
}

.left-number__flex-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 82px;
  margin-left: 38px;


}

.paybooking-block__left-form {
  margin-top: 15px;
}

.paybooking-block__left-form p {
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0.07em;
  line-height: 130%;
  margin: 0;
}

.paybooking-block__left-form p:first-child {
  font-size: 18px;
  font-weight: 300;
}

.left-form__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 344px;
  margin-bottom: 7px;
}

.left-form__item:first-child {
  margin-top: 19px;
}

.left-form__item p:first-child {
  font-size: 16px;
}

.input-field {
  width: 192px;
  height: 23px;
  border: 2px solid var(--color-grey-border-form);
}

.input-field:hover {
  border: 2px solid var(--color-red-border-form-hover);
  outline: none;
}

.input-field:focus {
  border: 2px solid var(--color-red-border-form-check);
  outline: none;
}

/* paybooking-block__right */

.paybooking-block__right {
  width: 385px;
  height: 537px;
  border: 1px solid var(--color-grey-border);
  padding-left: 34px;
  padding-top: 15px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: 0.07em;
  box-shadow:  0 2px 4px rgba(0, 0, 0, .25);
}

.paybooking-block__right h4 {
  font-size: 18px;
  font-weight: 500;
 color: var(--color-green-btn);
}

.paybooking-desc {
  font-size: 12px;
  font-weight: 100;
}

.paybooking-block__right-item2 p {
  margin: 0;
}

.paybooking-block__right-item2 span {
  font-weight: 300;
}

.paybooking-block__right-item3 {
  display: flex;
  width: 270px;
  height: 50px;
  border-top: 1px solid var(--color-grey-border);
  border-bottom: 1px solid var(--color-grey-border);
  align-items: center;
  font-weight: 300;
}

.paybooking-block__right-item4 {
  display: flex;
  width: 270px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}

.paybooking-block__right-item5--background {
  background-color: var(--color-green);
  margin-left: -34px; 
}

.paybooking-block__right-item5 {
  display: flex;
  width: 270px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  margin-left: 34px;
}

.paybooking-block__right-item6 {
  display: flex;
  width: 270px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}
.paybooking-block__right-item6 p:first-child {
  font-weight: 400;
}

.paybooking-block__right-item7 {
  display: flex;
  width: 270px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
}
.paybooking-block__right-item7 p:first-child {
  font-weight: 400;
}

.paybooking-form {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.checkbox {
  display: inline-flex;
  align-items: center;
}
.checkbox__input {
  width: 24px;
  height: 24px;
}
.checkbox__text {
  margin-left: 12px;
  font-size: 14px;
  font-weight: 300;
}

.paybooking-btn {
  width: 710px;
  margin-left: 264px;
  margin-top: 0;
  margin-bottom: 80px;
  color: #000;
}


.paybooking-btn:hover {
  background-color: var(--color-green-btn-hover);
}



@media screen and (max-width: 1216px) {
  .mainmenu {
    font-size: 14px;
    
  }
  .mainmenu__item {
    margin-right: 26px;
  }

  .page-header__flex img {
    margin-right: 26px;
  }

  .page-section__title-main {
    margin-left: 123px;
  }

  .button-cover {
    margin-left: 123px;
  }

  .section-text__main h2 {
    margin-left: 123px;
  }

  .section-block__text--left {
    margin-left: 123px;
  }

  
}



@media screen and (max-width: 1024px) {
  .page-header__background {
    background-image: url('../images/main/cover.jpg');
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }

  .page-header__flex img {
    display: none;
  }

  .mainmenu {
    display: block;
  }
  .page-header__nav {
    display: none;
  }

  .sing {
    display: flex;
    height: 43px;
    margin-left: 16px;
    align-items: center;
  }

  .page-header__flex {
    display: flex;
    height: 43px;
    background-color: rgba(43, 36, 47, 0.5);
    padding-top: 0;
  }

  .page-header__social {
    display: none;
  }

  .sing svg :hover {
    background-color: var(--color-blue-hover) ;
    fill: var(--color-blue-hover);
    stroke: var(--color-blue-hover);
    stroke-opacity: 0;
    transition: all 0.2s linear;
  }

  .page-header__menu-toggle {
    display: block;
    margin-top: 8px;
  }

  .mainmenu__list {
    font-size: 10px;
  }

  .page-header__nav {
    position: absolute;
    top: 43px;
    right: 0;
    /* height: 131px;
    padding-left: 11px;
    padding-right: 11px;
    background-color: var(--color-blue-btn); */
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--color-green-btn-hover);
  }
  .mainmenu__item {
    margin: 0;
    padding-top: 20px;
  }

  .page-header__menu-toggle.is-active + .page-header__nav{
    display: block;
  }

  .section-block {
    flex-wrap: wrap;
    align-items: center;
  }


  .section-block__travel, .section-block__holiday {
    flex-direction: column-reverse;
    align-items: center;
    padding-right: 0;
  }
  .section-block__text--left {
    margin-left: 0;
    margin-top: 50px;
    padding-left: 123px;
    padding-right: 0;
    margin-right: auto;
    margin-left: auto;
  }

  .section-block__text--right {
    margin-top: 50px;
    /* margin: 0 auto; */

  }
  
  /* .section-block img {
    
    width: 100%;
  } */
}







@media screen and (max-width: 450px) {
  

  .page-header__background {
    background-image: url('../images/320/main/cover_320.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
  }
  .page-header__background-charity {
    background-image: url('../images/320/charity/charity-cover-320.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    height: none;
  }

  .page-section__title-main {
    font-size: 18px;
    margin-top: 0;
    padding-top: 70px;
    margin-left: 30px;
    margin-bottom: 27px;
  }

  .page-section__title-main p {
    font-size: 13px;
    margin-bottom: 13px;
  }
  
  .button-cover {
    width: 120px;
    height: 22px;
    font-size: 10px;
    margin: 0 0 20px 185px;
    
  }

  .section-text__main {
    font-size: 10px;
    margin-top: 9px;
    margin-bottom: 9px;
    text-align: center;
  }
  .section-text__main p {
    text-align: center;
  }

  .section-text__main h2 {
    display: none;
  }

  .blockquote__background {
    display: block;
    background-image: url(../images/320/main/blockquote_320.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 51px;
    padding-top: 83px;
    padding-bottom: 83px;
    margin-bottom: 67px;
  }

  .blockquote__background h3 {
    font-size: 13px;
    color: white;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0.07em;
  }

  .section-block__travel {
    display: none;
  }
  .section-block__holiday {
    display: none;
  }

  .section-block__reserve {
    display: none;
  }
  .section-travel {
    display: none;
  }
  

  

  /* ==================    section-answer  ============= */

  .section-answer {
    background-color: white;
    padding: 0;
    width: 240px;
    margin: auto;
  }
  .section-answer__list {
    padding-left: 0;
    text-align: center;
    display: block;
  }

  .page-section__title-answer {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 54px;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 130%;
  }

  .section-answer__list li p {
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-block__mobile {
    display: block;
  }

  .section-charity {
    display: none;
  } 

  .section-block {
    display: none;
  }
  


/* ====================================      MOBILE       =================================== */





/* =========================== section-slider__mobile ====================== */

  .section-slider__mobile {
    display: block;
  }

  .section-slider__mobile-flex {
    /* display: flex; */
    position: relative;
    margin-bottom: 54px;
    width: 240px;
    margin: 0 auto;
    margin-bottom: 54px;
  }

  .section-slider__mobile-item {
    width: 240px;
    margin: 0 auto;
  }

  .section-slider__mobile-item img {
    display: block;
  }

  .section-slider__mobile h2 {
    color: var(--color-green-btn);
    text-align: center;
    margin-top: 67px;
    margin-bottom: 54px;
    font-weight: 700;
    letter-spacing: 0.07em;
    line-height: 130%;
    font-size: 18px;
  }

  .section-slider__mobile-text h2 {
    color: black;
  }

  .section-slider__mobile-text {
    min-height: 200px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F3F3F3;
  }

  .section-slider__mobile-text h2 {
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 130%;
    font-size: 16px;
    margin: 0;
    /* padding-top: 12px; */
    padding-bottom: 8px;
    padding-left: 34px;

    text-align: left;
  }

  .section-slider__mobile-text p {
    font-weight: 400;
    letter-spacing: 0;
    line-height: 130%;
    font-size: 10px;
    padding-left: 34px;
    padding-right: 34px;
    padding-bottom: 15px;
    margin: 0;
  }

  .charity__mobile--text {
    min-height: 170px;
  }


  .section-slider__btn {
    width: 128px;
    height: 24px;
    font-size: 10px;
    letter-spacing: 0.07em;
    line-height: 130%;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 15px;
    margin-left: 63px;
    padding: 8px;
  }

  .section-slider__btn-right {
    position: absolute;
    left: 248px;
    bottom: 179px;
    border: none;
    outline: none;
    background-color: white;
  }

  .section-slider__btn-left {
    position: absolute;
    left: -33px;
    bottom: 179px;
    border: none;
    outline: none;
    background-color: white;
  }

/* ======================  section-block__mobile  ============================== */

  .section-block__mobile {
    margin-bottom: 60px;
    text-align: center;
  }
  .section-block__mobile img {
    width: 100%;
  }

  .section-block__mobile-text p {
    text-align: center;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 130%;
    font-size: 10px;
    padding-left: 5%;
    padding-right: 5%;
  }

  .block-mobile__btn {
    margin: 0;
    margin-top: 30px;
  }



/* ================== section-news__mobile ========== */

  .section-news__mobile {
    display: block;
    background-color: #E6EAE5;
    text-align: center;
  }
  .section-news__mobile h2 {
    margin: 0;
    padding-top: 17px;
    padding-bottom: 29px;
  }

  .section-news__mobile p {
    font-weight: 300;
    letter-spacing: 0.04;
    line-height: 130%;
    font-size: 10px;
  }

  .section-news__mobile p:last-child {
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 30px;
    font-size: 5px;
  }

  .news__mobile-name {
    width: 281px;
    height: 21px;
    margin-top: 28px;
    margin-bottom: 22px;
    font-weight: 500;
    letter-spacing: 0.07;
    line-height: 130%;
    font-size: 7px;
    border: none;
  }

  .news__mobile-mail {
    width: 281px;
    height: 21px;
    margin-bottom: 19px;
    font-weight: 500;
    letter-spacing: 0.07;
    line-height: 130%;
    font-size: 7px;
    border: none;
  }

  .news__mobile-name:hover {
    border: 2px solid var(--color-red-border-form-hover);
    outline: none;
  }

  .news__mobile-name:focus {
    border: 2px solid var(--color-red-border-form-check);
    outline: none;
  }
  .news__mobile-mail:hover {
    border: 2px solid var(--color-red-border-form-hover);
    outline: none;
  }

  .news__mobile-mail:focus {
    border: 2px solid var(--color-red-border-form-check);
    outline: none;
  }

/* ============= section-social__mobile ============= */

  .section-social__mobile {
    display: block;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  .section-social__mobile a {
    text-decoration: none;
    color: #000;
  }
  .section-social__mobile a:checked {
    color: var(--color-green-btn-hover);
  }
  

  .section-social__mobile p {
    text-align: center;
    font-weight: 500;
    letter-spacing: 0.07;
    line-height: 130%;
    font-size: 10px;
  }

  .social-mobile__icon {
    display: flex;
    justify-content: space-between;
    padding-left: 18%;
    padding-right: 18%;
    margin-top: 38px;
    margin-bottom: 48px;
  }
  .social-mobile__icon p {
    margin: 0;
  }

  .social-mobile__icon-instagram {
    text-align: center;
  }
  .social-mobile__icon-VK {
    text-align: center;
  }

  .social-mobile__up {
    display: flex;
    width: 83px;
    margin: 0 auto;
    padding: 0;
    margin-top: 48px;
  }
  .social-mobile__up p{
    color: var(--color-green-btn);
    font-weight: 700;
    letter-spacing: 0.07;
    line-height: 130%;
    font-size: 18px;
    margin: 0;
    margin-right: 5px;
  }

/* ================= footer-mobile ================== */


  .page-footer__social {
    display: none;
  }

  .page-footer__contact{
    display: none;
  }
  .page-footer__copyright {
    display: none;
  }

  .page-footer__contact-mobile {
    display: block;
  }
  .page-footer__copyright-mobile {
    display: block;
  }

  .page-footer__flex {
    display: block;
    height: 220px;
    padding: 1px 0 14px 14px;
  }

  .page-footer__copyright-mobile {
    font-weight: 300;
    letter-spacing: 0.07;
    line-height: 130%;
    font-size: 10px;
  }

  .page-footer__contact-mobile {
    font-weight: 300;
    letter-spacing: 0.07;
    line-height: 130%;
    font-size: 14px;
  }

  .page-footer__contact-mobile p:last-child {
    font-weight: 500;
    margin-bottom: 63px;
  }
  



}





