:root {
    --color-green: #B5DDA8;
    --color-green-hover: #A1C594;
    --color-green-btn: #588349;
    --color-green-btn-hover: #5F7757;
    --color-blue-btn: #6E95AB;
    --color-blur-btn-hover: #678698;
    --color-blue-hover: #678698;
    --color-text-light: #414141;
    --color-green-btn-white-hover: #DEF8D4;
    --color-green-background: #E6EAE5;
    --color-grey-background: #73727A;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
  .page-tour__banner {
    height: 987px;
    width: 100%;
    max-width: 2000px;
  }
  .container {
    max-width: 1440px;
    margin-left: 10em;
  }
  .page-tour__bg {
    background: rgba(255, 0, 0, 0.01);
    max-width: 1920px;
  }
  .page-tour__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -932px;
    box-sizing: content-box;
  }
  .mainmenu__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .mainmenu__item {
    margin-left: 4em;
  }
  .mainmenu__item a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 128.69%;
    letter-spacing: 0.045em;
    color: #FFFFFF;
  }
  
  .mainmenu__item a:hover {
    color:  #414141;
  }
  
  .mainmenu__item a:focus-visible {
    outline: 1px dotted #FFFFFF;
  }
  .page-tour__snetwork {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .page-tour__snetwork a:not(:last-child){
    margin-right: 20px;
  }
  .page-tour__snetwork a:hover {
    background-color: #DEF8D4;
  }
  
  .page-tour__snetwork a:focus-visible {
    outline: 1px dotted #DEF8D4;
  }
  
  .page-tour__snetwork svg {
    display: block;
  }
  .page-tour__headline {
    margin-left: 362px;
    margin-top: 129px;
  }
  .page-tour__headline__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    margin-bottom: 61px;
  }
  .page-tour__headline__title__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.07em;
    color: #FFFFFF;
  }
  .button-cover {
    height: 52px;
    width: 218px;
    color: #171717;
    margin-top: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-green);
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 128.69%;
    letter-spacing: 0.07em;
    cursor: pointer;
    transition: all 0.25s ease;
  }
  .button-cover:hover {
    color: var(--color-green-btn-hover);

  }
  
  .page-tour__info__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.07em;
    color: #414141;
    margin-top: 455px;
  }
  .page-tour__expert {
    display: flex;
    justify-content: space-between;
    margin-top: 364px;
  }
  .page-tour__expert__img {
    width: 710px;
    height: 738px;
  }
  .page-tour__expert__title {
    font-family: Roboto;
    font-style: bold;
    font-weight: 500;
    font-size: 36px;
    line-height: 46,8px;
    color: #000000;
  }
  .page-tour__expert__title-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 46,8px;
    color: #000000;
    margin-top: -30px;
  }
  .page-tour__expert__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #000000;
    margin-top: 100px;
  
  }
  .page-tour__expert__info-block {
    margin-top: 100px;
    margin-right: 154px;
  }
  .page-tour__sight__flex {
    display: flex;
    justify-content: flex-start;
    margin-top: 224px;
  }
  
  .page-tour__sight__text-sight {
    width: 645px;
    padding-left: 0;
    padding-top: 118px;
    margin-top: 80px;
    min-width: 50%;
    flex-shrink: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #414141;
  }
  .page-tour__img {
    width: 917px;
    height: 616px;
  }
  .page-tour__ease__flex {
    display: flex;
    justify-content: flex-start;
    margin-top: 224px;
  }
  .page-tour__ease__text-sight {
    width: 645px;
    padding-left: 199px;
    padding-top: 118px;
    margin-top: 80px;
    min-width: 50%;
    flex-shrink: 0;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 140%;
    color: #414141;
    box-sizing: content-box;
  }
  .title__block {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #272525;
  }
  /*аккордеон*/
  .page-tour__accordion {
    max-width: 1196px;
    min-height: 274px;
    margin-top: 536px;
    background-color: #E6EAE5;
  }
  .page-tour__accordion__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.07em;
    color: #000000;
    padding-top: 36px;
  }
  .accordion-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.07em;
    color: #000000;
    padding: 15px 858px 15px 26px;
    border-top: 1px solid #588349;
  }
  .accordion-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.07em;
    color: #000000;
  }
  summary::-webkit-details-marker{display:none;}
  summary::-moz-list-bullet{list-style-type:none;}
  summary::marker{display:none;}
  
  summary {
   display:block;
   cursor: pointer;
   position: relative;
   border-top: 1px solid #588349;
  }
  summary:before {
    margin-left: 1130px;
    color: transparent;
    background: url('../svg/arrow_bottom.svg') no-repeat 50% 50% / 1em 1em;
    width: 1em;
    height: 1em;  
    content: "";
    align-items: center;
    position: absolute;
    transition: transform .5s;
  }
  details[open] > summary:before {
  transform: rotateZ(180deg);
  }
  summary ~ * {
   padding: 0 2em 10px 2em;
  }
  details[open] summary ~ *{ 
  animation: sweep .5s ease-in-out;
  }
  @keyframes sweep {
  0%    {opacity: 0;}
  100%  {opacity: 1;}
  }
  /*галерея*/
  .page-tour__galery {
    margin-top: 364px;
    margin-left: auto;
    margin-right: auto;
  }
  .page-tour__galery__photo {
    float: left;
    padding: 50px;
    box-sizing: border-box;
  }
  .page-tour__galery__photo a:hover {
    opacity: 0.5;
  }
  .page-tour__galery__photo a {
    display: block;
  }
  .page-tour__galery__photo:hover> a:after {
    visibility: visible;
  }
  /*отзыв*/
  .page-tour__review {
    max-width: 954px;
    min-height: 299px;
    margin-top: 1583px;
    background-color: #E8E8E8;
    align-content: center;
    align-items: centerco;
  }
  .page-tour__review__text {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.07em;
    color: #333333;
    padding: 40px 100px;
    margin: auto;
    box-sizing: border-box;
  }
  .page-tour__review__svg-down {
    margin-top: -44px;
    margin-left: -23px;
  }
  .page-tour__review__svg-bottom {
    margin-left: 896px;
    margin-top: -7px;
  }
  /*футер*/
  /* page-footer */
  .page-footer__main {
    background: #73727A;
    width: 1920px;
    margin-top: 447px;
  } 
  .page-footer__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 36px;
    padding-bottom: 24px;
  }
  
  .page-footer__contact {
    flex-grow: 1;
    display: flex;
    margin: 0;
    font-style: normal;
  }
  
  .page-footer__contact-column {
    width: 50%;
    max-width: 358px;
  }
  
  .page-footer__contact-column p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 128.69%; 
    text-align: center;
    letter-spacing: 0.07em;
    color: #FFFFFF;
  }
  
  .page-footer__contact-column a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .page-footer__contact-column a:hover {
    color: #DEF8D4;
  }
  
  .page-footer__contact-column a:focus-visible {
    outline: 1px dotted #DEF8D4;
  }
  .page-footer__copyright {
    color: #FFFFFF;
  }
  .page-footer__copyright a {
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .page-footer__copyright a:hover {
    color: #DEF8D4;
  }
  
  .page-footer__copyright a:focus-visible {
    outline: 1px dotted #DEF8D4;
  }
  
  /* social-list */
  .social-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .social-list__item:not(:last-child) {
    margin-right: 20px;
  }
  
  .social-list__item a {
    display: block;
  }
  
  .social-list__item a:hover {
    background-color: #DEF8D4;
  }
  
  .social-list__item a:focus-visible {
    outline: 1px dotted #DEF8D4;
  }
  
  .social-list__item svg {
    display: block;
  }
  /*анонс*/
  .page-preview__headline {
    margin-left: 241px;
    margin-top: 129px;
  }
  .page-preview__headline__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    line-height: 130%;
    letter-spacing: 0.07em;
    color: #FFFFFF;
    margin-bottom: 61px;
  }
  .page-preview__headline__title__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.07em;
    color: #FFFFFF;
  }
  .top-row {
    margin-top: 124px;
  }
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 304px;
    font-size: 16px;
    margin-top: 48px;
    padding: 13px 13px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    line-height: 128.69%;
    letter-spacing: 0.07em;
    cursor: pointer;
    transition: all 0.25s ease;
    color: #171717;
  }
  .button-white {
    width: 304px;
    height: 55px;
    background-color: white;
    border: 2px solid var(--color-green-btn);
    color: var(--color-green-btn);
  }
  .button-white:hover {
    background-color: var(--color-green-btn-white-hover);
  }
  /*контент*/
  .page-preview__content__block {
    display: flex;
  }
  .block__one {
    margin-top: 444px;
    justify-content: flex-start;
  }
  .block__left {
    margin-top: 201px;
    justify-content: flex-start;
  }
  .block__right {
    margin-top: 201px;
    justify-content: flex-end;
  }
  .block__img__left {
    width: 710px;
    height: 780px;
  }
  .block__img__right {
    width: 980px;
    height: 643px;
    margin-right: -240px;
    margin-left: 250px;
  }
  .block__info__left {
    margin-left: 142px;
    padding-top: 70px;
  }
  .block__info__right {
    padding-top: 20px;
  }
  .block__date {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 128.69%;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: #696A68;
  }
  .block__title {
    font-family: Roboto;
    font-style: bold;
    font-weight: 500;
    font-size: 36px;
    line-height: 46,8px;
    color: #000000;
    padding-top: 47px;
  }
  .block__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 128.69%;
    letter-spacing: 0.07em;
    color: #000000;
    padding-top: 27px;
  }
        /*окна анонсов*/
  /*мк, вебинар*/
  .page__popup {
    margin-top: 984px;
  }
  .page__popup__flex {
    display: flex;
    justify-content: space-between;
  }
  .popup-block__left {
    margin-top: 100px;
  }
  .page__popup__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #272525;
    padding-bottom: 72px;
  }
  .page__popup__flex__figure {
    width: 700px;
    height: 200px;
    padding-left: 20px;
    background: #FFFFFF;
    border: 1px solid #878787;
    box-sizing: border-box;
  }
  .figure__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
  }
  .figure__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
  }
  .popup__img__left {
    width: 980px;
    height: 600px;
    margin-left: -240px;
  }
  .popup__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
    padding-bottom: 10px; 
  }
  .page__popup__list {
    padding-right: 100px;
  }
  .page__popup__list__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23,4px;
    letter-spacing: 0.03em;
    color: #000000;
    padding-bottom: 10px;
  }
  .popup-block__right {
    margin-top: 150px;
  }
  .page__popup__paragraph {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23,4px;
    letter-spacing: 0.03em;
    color: #000000;
    margin-top: -50px;
    margin-bottom: 80px;
  }
  .page__popup__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23,4px;
    letter-spacing: 0.03em;
    color: #000000;
  }
  .popup__img__right {
    width: 766px;
    height: 899px;
    margin-right: -220px;
  }
  .button-white__popup {
    margin-top: 300px;
    margin-left: 550px;
  }
  .page__popup__return {
    margin-top: 300px;
    margin-left: 500px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #588349;
  }
  .page__popup__return a {
    text-decoration: none;
    color: #588349;
  }
  .page__popup__return a:hover {
    color:  #445F3B;
  }
  .page__popup__return a:focus-visible {
    outline: 1px dotted #445F3B;
  }
  .button-blue {
    background-color: var(--color-blue-btn);
  }
  .button-blue:hover {
    background-color: var(--color-blur-btn-hover);
  }
  .button-charity__popup {
    margin-top: 160px;
  }
/*о нас*/
.page__about__us__title {
  margin-top: 1118px;
}
.page__about__us__command {
  display: flex;
  padding-top: 224px;
}
.command__one__block {
  margin-top: 140px;
}
.page__about__us__command__text {
  padding-left: 150px;
  padding-right: 150px;
  margin: auto;
}
.page__about__us__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.07em;
  color: #414141;
  margin-top: 196px;
  margin-bottom: 196px;
}
.text__middle {
  margin-left: 350px;
}
.btn__about__us {
  margin-top: 109px;
  margin-left: 550px;
}
/*контакты*/
.page__contact__banner__text {
  margin-top: 150px;
  text-align: center;
}
.page__contact__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 159.69%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.page__contact__title__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 159.69%;
  letter-spacing: 0.07em;
  color: #FFFFFF;
}
.page-tour__info {
  margin-left: 200px;
}
.page-tour__info__text__bottom {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #414141;
  margin-top: 50px;
}
.page__subscription {
  width: 100%;
  max-width: 2000px;
  height: 700px;
  margin-top: 134px;
  background-color: #E6EAE5;
}
.subscription__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 128.69%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #588349;
  padding-top: 64px;
}
.subscription__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 128.69%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
}
.subscription__input__block {
  display: inline-block;
  margin-top: 86px;
}
.subscription__input__name {
  width: 467px;
  height: 52px;
  border: 1px solid #BFBFBF;
}
.subscription__input__text {
  width: 688px;
  height: 52px;
  border: 1px solid #BFBFBF;
}
.subscription__text__little {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 128.69%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #000000;
  margin-top: 64px;
}
.page__contact__info__cont {
  display: flex;
  justify-content:space-between;
  margin-top: 250px;
}
.page__contact__info__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: 0.07em;
  color: #414141;
}
.page__contact__info__text:hover {
  color: var(--color-green-btn);
}

.page__contact__info__text:focus-visible {
  outline: 1px dotted #FFFFFF;
}

/*обратная связь форма*/
.page-feedback {
  width: 1440px;
  height: 1465px;
}
.page-feedback__item__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.07em;
  color: #588349;
}
.page-feedback h1 {
  padding-top: 115px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 100px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
}
.page-feedback__item-name {
  width: 832px;
  height: 168px;
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  margin-top: 81px;
  margin-left: 282px;
  padding: 41px 307px 51px 18px;
}
.page-feedback__item-name input {
  width: 507px;
  height: 29px;
  border: 1px solid #BFBFBF;
}
.page-feedback__item-cont {
  width: 832px;
  height: 168px;
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  margin-top: 54px;
  margin-left: 282px;
  padding: 41px 307px 51px 18px;
}
.page-feedback__item-cont input {
  width: 507px;
  height: 29px;
  border: 1px solid #BFBFBF;
}
.page-feedback__item-mess {
  width: 832px;
  height: 374px;
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  margin-top: 54px;
  margin-left: 282px;
  padding: 41px 307px 51px 18px;
}
.page-feedback__item-mess input {
  width: 795px;
  height: 234px;
  border: 1px solid #BFBFBF;
}
.paybooking-btn {
  width: 710px;
  margin-left: 320px;
  margin-bottom: 80px;
  color: 000000;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.07em;
}

.paybooking-btn:hover {
  background-color: var(--color-green-btn-hover);
}
.page-feedback__paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.07em;
  color: #000000;
  margin-left: 483px;
}

/*окна*/
.popup__window {
  width: 800px;
  padding: 0 auto;
  margin: 0 auto;
  /*background-color: violet;*/
}
/*window__subscription*/
.window__subscription {
  height: 700px;
}
.window__subscription__cross {
  margin-left: 750px;
  margin-top: 10px;
}
.window__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 128.69%;
  text-align: center;
  letter-spacing: 0.04em;
  color: #588349;
}
.window__subscription__snetworks {
  display: flex;
  justify-content: space-between;
  padding: 57px 125px;
}
.snetworks__icon {
  text-align: center;
}
.window__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #414141;
  padding-top: 57px;
}
.snetworks__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.07em;
  color: #414141;
}
/*window__call*/
.window__call {
  height: 350px;
}
/*window__lk*/
.window__lk {
  background-color: #E6EAE5;
  height: 380px;
}
.window__lk__flex {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 70px;
}
/*window__lk__registration*/
.window__lk__registration {
  height: 876px;
}
.window__lk__registration__form {
  height: 168px;
  width: 676px;
  border: 1px solid #BFBFBF;
  box-sizing: border-box;
  padding-top: 41px;
  padding-left: 15px;
  margin-top: 30px;
  margin-left: 50px;
}
.window__lk__registration__form input {
  width: 412px;
  border: 1px solid #D1CACA;
}
.page-section__btn {
  text-align: center;
}